.logo{
    width: 47px;
    height: 37px;
}
.logo-input{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*xcf */
.header-row{
    height: 80px;
    background-color: rgba(24, 22, 22,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    outline: none;
    background-color: rgb(36, 35, 35);
    border:none;
    border-radius: 15px;
    height: 28px;
}
.date{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

@media(max-width: 400px) {
    .date{
        display: none;
    }
    
  }